version: '3.1'

services:

    php:
        build: ./docker/php
        user: www-data
        ports:
            - 9000:9000
        volumes:
            - ./app:/srv/www/app
            - ./docker/php/www.conf:/usr/local/etc/php-fpm.d/www.conf
            - ./bin:/srv/www/app/bin
            - ./data:/srv/www/app/data
        environment:
            MYSQL_USER: roman
            MYSQL_PASSWORD: test
        networks:
            - default

    nginx:
        image: nginx
        ports:
            - 8080:80
        volumes:
            - ./app:/srv/www/app
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - default

    db:
        image: mysql
        ports:
            - 3306:3306
        environment:
            MYSQL_ROOT_PASSWORD: test
            MYSQL_DATABASE: users
            MYSQL_USER: roman
            MYSQL_PASSWORD: test
        networks:
            - default

    adminer:
        image: adminer
        links:
            - db:db
        ports:
            - 8081:8080
